src/WfAppVbm/.vs/
src/WfAppVbm/WfAppVbm01/obj/
src/WfAppVbm/WfAppVbm01/bin/
src/WfAppVbm/ConsoleAppUnitTest/bin/
src/WfAppVbm/ConsoleAppUnitTest/obj/
src/ZedGraph Real-time Simulation/.vs/
src/ZedGraph Real-time Simulation/ZedGraph Real-time Simulation/bin/
src/ZedGraph Real-time Simulation/ZedGraph Real-time Simulation/obj/
src/ZedGraph Real-time Simulation/IntershipExamProject/obj/
src/ZedGraph Real-time Simulation/IntershipExamProject/bin/
src/WfAppVbm/DB Management/bin/
src/WfAppVbm/DB Management/obj/
src/WfAppVbm/DB Security/bin/
src/WfAppVbm/DB Security/obj/
src/WfAppVbm/AccelerometerDatabase/obj/
src/WfAppVbm/AccelerometerDatabase/bin/
src/WfAppVbm/AccelerometerDatabaseTests/
src/WfAppVbm/WfDatabaseSetupR1/obj/
src/WfAppVbm/WfDatabaseSetupR1/bin/
